.optionBar {
  position: absolute;
  right:18%;
  top: 0px;
  margin: 20px;

}

.optionBox {
  display: block;
  height: 25px;
}

.floatLeft {
  float: left;
  width: 170px;
}

.floatRight {
  float: right;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
}

.textField {
  text-align: center;
  width: 125px;
}

.selector {
  border: 1px solid #AAA;
  color: #555;
  overflow: hidden;
}

@media only screen and (max-width: 1600px) {
  .optionBar {
    right: 0px;


  }
}


