<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.diva-e.com/fileadmin/templates/fluid/images/favicon.ico"
          type="image/x-icon">
</head>
<body>
<h1><%= htmlWebpackPlugin.options.pageTitle %></h1>
<h2><%= htmlWebpackPlugin.options.challengeTitle %></h2>

<div id="artwork-border">
    <div id="artwork-wrapper" style="width: 842px; height: 596px;">
        <svg id="artwork-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" width="842" height="596">
            <!-- replace content of SVG with your art [START] -->

            <!-- replace content of SVG with your art [END] -->
        </svg>
    </div>
</div>

<div id="credits">
    <div class="block">
        <label class="title">title of your artwork</label>
        <label class="artist">your name</label>
    </div>
</div>

<div class="optionBar">
    <div class="optionBox">
        <div class="floatLeft">
            <label for="blackWhiteFilter">Black-White Filter</label>
            <span id="blackWhiteFilterOutput">255</span>
        </div>
        <div class="floatRight">
            <input class="slider" id="blackWhiteFilter" type="range" min="0" max="255" value="255"/>
        </div>
    </div>
    <div class="optionBox">
        <div class="floatLeft">
            <label for="sizeSlider">Size</label>
            <span id="sizeOutput">1</span>
        </div>
        <div class="floatRight">
            <input class="slider" id="sizeSlider" type="range" min="1" max="30" value="1"/>
        </div>
    </div>
    <div class="optionBox">
        <div class="floatLeft">
            <label for="distanceSlider">Distance</label>
            <span id="distanceOutput">1</span>
        </div>
        <div class="floatRight">
            <input class="slider" id="distanceSlider" type="range" min="1" max="10" value="1"/>
        </div>
    </div>
    <div class="optionBox">
        <div class="floatLeft">
            <label for="styleSelector">Style:</label>
            <select id="styleSelector" name="Forms">
                <option value="circle">Circle</option>
                <option value="rect">Rectangle</option>
                <option value="text">Text</option>
            </select>
        </div>
        <div class="floatRight">
            <input class="textField" placeholder="Text field" id="text" type="text">
        </div>
    </div>
    <div class="optionBox">
        <div class="floatRight">
            <input accept=".jpg, .jpeg, .png" class="inputfile" type="file"
                   id="files" name="files[]" multiple/>
        </div>
    </div>
    <button class="button" id="reloadButton" type="button">Reload</button>
</div>
</body>
</html>